@font-face {
  font-family: 'Molot';
  src: url('/fonts/Molot.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Incopins Clusters';
  src: url('/fonts/Incopins_Clusters_Bi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 401px) {
	main {
		padding: 30px;
	}
}

@media (max-width: 400px) {
	main {
		padding: 10px;
	}
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'Molot', Verdana, Tahoma, Arial, Sans-Serif;
}

a, a:active, a:link, a:visited {
	text-decoration: none;
	color: white;
	border-bottom: 2px solid white;
}

ol {
	padding-left: 20px;
}

li {
	margin: 5px 0;
}

body {
	padding: 0 15px;
	background-image: url('../images/back.jpg');
	background-repeat: repeat;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h1 {
	font-family: 'Incopins Clusters', Verdana, Tahoma, Arial, Sans-Serif;
	font-size: 35px;
}

h1, h2, h3 {
	font-weight: lighter;
}

main {
	box-shadow: 5px 5px 5px black;
	max-width: 800px;
	background-color: #323232;
	color: white;
}

.links, .contacts, .icons, .license {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	padding: 10px;
}

.links a {
	margin: 0 5px;
}
