@keyframes logotext {
	from {
		text-shadow: -10px 0 red,
                 10px 0 blue,
                 0 0 skyblue;
        transform: skewX(30deg);
    }
    2%{
    	transform: skewX(0deg);
    	text-shadow: initial;
    }
    to {
    	transform: skewX(0deg);
    }
}

@font-face{
    font-family: Cyberspace;
    src: url('~assets/fonts/CyberspaceRacewayFront.otf');
}

@font-face{
    font-family: AnonymousPro;
    src: url('~assets/fonts/AnonymousPro-Regular.ttf');
}

html, body, #__nuxt, #__layout, .layout {
	height: 100%;
}

body {
	font-family: 'AnonymousPro';
	margin: 0;
	padding: 0 15px;
	background-color: #000;
	height: 100%;
}

a, a:visited, a:active {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	text-decoration-color: green;
}

.layout {
	
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: green;
}

.img {
	background-repeat: no-repeat;
	background-size: contain;
	width: 40px;
	height: 40px;
}

.logo {
	margin: 0;
	font-family: 'Cyberspace';
	font-size: 6.5vw;
	font-weight: normal;
	animation: logotext 5s infinite ease;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: inherit;
}

.stack {
	display: flex;
	flex-direction: row;
}

main {
	color: white;
	padding: 15px 0;
}

.items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.items_item {
	margin-right: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
}